APP_NAME=Aperture
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://aperture

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=aperture
DB_USERNAME=aperture
DB_PASSWORD=aperture

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

REVERB_APP_ID=aperture
REVERB_APP_KEY=aperture
REVERB_APP_SECRET=swordfish
REVERB_SERVER_HOST=reverb
REVERB_SERVER_PORT=80
REVERB_PORT=80
REVERB_HOST=reverb
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="aperture"
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME="https"
